.editable-text {
  background-color: transparent;
  border: none;
  width: fit-content;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: #ebfcff;

  &.editing {
    border-bottom: 2px solid #7ed1f2;
  }
  &.placeholder {
    opacity: 0.75;
  }
}
