@import '../common/colors.scss';

.editable-text {
  background-color: transparent;
  border: none;
  width: fit-content;
  outline: none;
  font-size: 16px;
  font-weight: bold;
  color: $light-blue;

  &.editing {
    border-bottom: 2px solid $sky-blue-saturate;
  }
  &.placeholder {
    opacity: 0.75;
  }
}
