#category-list {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	// align-items: stretch;
	overflow-y: auto;
	scrollbar-width: thin;  /* Firefox */
	padding: 0 30px 200px 30px;
}
