@import 'common/colors.scss';

.category-btn,
.category-input {
	font-size: 16px;
	font-weight: bold;
	color: $light-blue;
	border: none;
	background-color: $sky-blue;
}

.category-btn {
	min-height: 60px;
	margin-bottom: 30px;
	border-radius: 8px;
}

.category-input {
	border-bottom: 2px solid $sky-blue-saturate;
	display: inline-block;
	text-align: center;
}
