@import 'common/colors.scss';

.category-item {
	flex: auto;
	display: flex;
	flex-direction: row;
	justify-content: start;
	align-items: center;
	margin-left: -30px;
	padding: 10px 0 10px 30px;

	.editable-text {
		margin-left: 15px;
		font-size: 20px;
		color: $light-blue-inactive;
	}

	svg {
		fill: $light-blue-inactive;
	}

	&.active {
		border-left: 2px solid $sky-blue-saturate;
		.editable-text {
			color: $light-blue;
		}
		svg {
			fill: $light-blue;
		}
	}
}
