.flex-vertical {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    justify-content: flex-start;

    height: 100%;
    overflow-y: auto;
    scrollbar-width: thin;  /* Firefox */
}

.scrollbar-hiden {
    overflow-y: hidden;
}

