@import 'common/colors.scss';

#header {
	display: flex;
	flex-direction: row;
	justify-content: center;
	align-items: flex-end;
	margin: 20px 0 0 -20px;
	padding-bottom: 20px;
	border: 0;
	border-bottom: 1px;
	border-style: solid;
	border-color: $dark-blue-tint;

	> svg {
		fill: $gray-blue;
		margin-right: 10px;
		width: 72px;
		height: 72px;
	}

	> h1 {
		font-family: 'Exo', sans-serif;
		font-size: 48px;
		color: $gray-blue;
		margin: 0px;
	}
}
