#side-bar {
    display: flex;
    flex-direction: column;

    >.header-container {
        flex: initial;
    }
    
    >hr {
        // border-top: 1px solid red;
        margin: 0;
        align-self: stretch;
    }
    
    >.category-list-container {
        flex: auto;
    }
}
