.todo-task-container {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	margin: 15px;
	font-size: 24px;

	.todo-task-inner-left {
	}

	.todo-task-inner-right {
	}
}
