:root {
    --side-bar-background-color: #2C4C59;
}

#to-do-list {
    height: 100%;

    display: flex;
    flex-direction: row;

    >.side-bar-container, >.workspace {
        box-sizing: border-box;
        padding: 40px;
    }

    >.side-bar-container {
        flex: 1 1 0;
        background-color: var(--side-bar-background-color);
    }

    >.workspace {
        flex: 4 0 0;
        background-color: #ACDEF2;
    }
}
