:root {
    --side-bar-background-color: #2C4C59;
}

#to-do-list {
    height: 100%;
    display: flex;
    flex-direction: row;
    align-items: stretch;

    #side-bar {
        flex: 1 1 0;
        background-color: var(--side-bar-background-color);
    }

    #workspace {
        flex: 3 0 0;
    }
}
