@import 'common/colors.scss';

#workspace {
	display: flex;
	flex-direction: column;
	background-color: $gray-blue-lighter;
	padding: 40px;

	#functional-panel {
		flex: 0 1 0;
	}

	#todo-board {
		flex: 1 1 0;
	}
}
