// Default style
$dark-blue: #1B3038;
$dark-blue-tint: #46626E;
$sky-blue: #71b1d9;
$gray-blue: #6fa3b8;
$gray-blue-light: #acdef2;
$gray-blue-lighter: #CFEEFA;
$light-blue: #ebfcff;
$light-blue-inactive: #939E9F;
$sky-blue-saturate: #7ed1f2;

